ul{
    background-color: rgb(222, 231, 244);
}
li{
    list-style: square;
    display: inline;
    /* shows items next to each other instead of on top */
    color:lightslategray;
    
}
li :hover{
    color: brown;
}
/* refer to a so you can change how the link looks */
a{
    text-decoration: none;
    font-weight: 200;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(74, 85, 95)
}
.active{
    color:rgb(0, 0, 255) ;
}
.active-navitem{
    color: aqua;
}
