html>body{
    margin:0;
    padding:0;
}

header{
    background: red;
    padding: 3px;
    color: white;
    text-align: center;
}

nav{
    background: blue;
    padding: 3px;
    color: aliceblue;
}

nav>ul{
    list-style-type: none;
    text-align: center;
}

nav>ul>li{
    display: inline;
    font-size: 20pt;
    margin-right: 10px;
}

aside{
    background: burlywood;
    padding: 5px;
    width: 25%;
    float: left;
    margin: 5px;
}

aside>ul{
    list-style-type: none;
}

aside>ul>li{
    font-size: 16pt;
}

main{
    background: brown;
    width: 73%;
    float: right;
    margin: 5px;
    color: white;
}

footer{
    background: black;
    clear: both;
    padding: 3px;
    color: white;
    text-align: center;
    margin: 5px;
}

article{
    height: 120px;
    background: yellow;
    color: black;
    width: 500px;
}

article>p{
    /* white-space: nowrap;
    text-overflow: ellipsis;
    width: 300px;
    overflow: hidden; */
    column-count: 3;
}

.gallery-container{
    display: grid;
    grid-template-columns: repeat(3, auto);
    /* will always keep 3 items on the same line */
    grid-gap: 10px;
}

.box{
    background-color: whitesmoke;
    background-size: cover;
    height: 200px;
    color: black;
    animation: myAnimation ease-in-out 0.05s infinite;
}

@keyframes myAnimation{
    0%{
        transform: rotate(0deg);
    }

    33%{
        transform: rotate(0.14deg);
    }

    66%{
        transform: rotate(-0.14deg);
    }

    100%{
        transform: rotate(0deg);
    }
}