nav{
background-color: rgb(212, 201, 182);
padding: 1px;
}

li{
    display: inline;
}

ul{
    text-align: center;
}

a{
    text-decoration: none
}
/* Removes the underline from all hyperlinks on your page */
/* Ids are case sensitive!! */
#Home{
    text-align: center;
    background-color:antiquewhite ;
    padding: 5px;
}

article > img{
width: auto;
max-width: 300px;
float: left;
margin: 5px;
}
/* IDS ARE CASE SENSITIVE!!!!!! */
#Blog{
    display: flex;
    width: auto;
    padding: auto;
}
#Footer{
    background-color: rgb(139, 163, 163);
    text-align: center;
    color: azure;
    font-size: large;
}

main#Login-container{
    background-color: rgb(198, 209, 209);
    padding: 5px;
}

form{
    border: 1px black;
    border-style: solid;
    border-radius: 4px;
    padding: 5px;
    background-color: aliceblue;
}

main#Gallery{
    background-color: black;
}

video{
    max-width: 380px;
}