nav{
background-color: rgb(212, 201, 182);
padding: 1px;
}

li{
    display: inline;
}

ul{
    text-align: center;
}

a{
    text-decoration: none
}
/* Removes the underline from all hyperlinks on your page */
/* Ids are case sensitive!! */
#Home{
    text-align: center;
    background-color:antiquewhite ;
    padding: 5px;
}

article > img{
width: 50vw;
max-width: 300px;
float: left;
margin: 5px;
}